@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Rubik Regular";
  src: url('/fonts/RubikFont/Rubik-Regular.ttf');
}


@font-face{
  font-family: "Albert Sans";
  src: url('/fonts/AlbertSansFont/AlbertSans-Medium.ttf');
}
